html {
    scroll-behavior: smooth;
  }
  
  body {
    opacity: 0;
    transition: opacity 1.5s ease-in;
    font-family: "Open Sans", serif;
  }
  
  body.loaded {
    opacity: 1;
  }
  
  .hidden {
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .nav-link {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #4020a9;
  }
  
  .nav-link:hover {
    color: #351b8a;
  }
  
  #hero > div {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  
  .btn-primary {
    background-color: #4020a9;
    border-color: #4020a9;
  }
  
  .btn-primary:hover {
    background-color: #351b8a;
  }
  
  .bg-dotnet {
    background-color: #4020a9;
  }
  
  .sm-t {
    margin-top: 15rem;
  }
  
  .text-dotnet {
    color: #4020a9;
  }
  
  .custom-border {
    border-bottom: 2px solid;
  }
  
  .job > h3 {
    border-bottom: 1.5px solid;
  }
  
  .education > h3 {
    border-bottom: 1.5px solid;
  }
  
  .divider {
    width: 2.5px;
    background-color: #fff;
    height: auto;
  }
  
  .divider-purp {
    width: 2.5px;
    background-color: #4020a9;
    height: auto;
  }
  
  .ref-list > li > p {
    margin-bottom: 0;
  }
  
  .cityInput{
    padding-top: 4px;
    padding-bottom: 7px;
    border-color: lightblue;
  }
  
  .card{
    width: 22rem;
    background: linear-gradient(135deg, #4020a9, #6b52c8, #ff8eeb);
    box-shadow: 2px 4px 7px hsla(0, 0%, 0%, 0.7);
  }
  
  .cityInput:focus{
    outline: none;
  }